# Ignore everything
/*

# Whitelist source
!/gradle/
!/libs/
!/storage-mariadb/
!/storage-mongodb/
!/storage-mysql/
!/storage-plugin/
!/storage-postgresql/
!/.gitignore
!/build.gradle.kts
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/settings.gradle.kts
